{% extends 'base.html' %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section">
  <div class="container-fluid hero-container">
    <div class="row align-items-center">
      <!-- Left-aligned text -->
      <div class="col-lg-8 col-md-10 hero-text">
        <h1>Boost productivity with<br>AI agents</h1>
        <br><br><br><br><br>
        <p>Automate your complex workflows<br>with AI agents and assistants</p>
        <div class="hero-buttons">
          <a href="https://youtu.be/F8NKVhkZZWI?si=jEHsAyYF3JsXBrF4" class="btn-demo">
            Watch the one minute demo
            <i class="fas fa-play"></i>
          </a>
          <a href="{{ url_for('work_in_progress')}}" class="btn-outline">
            Playbook: Realizing ROI with agentic AI
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}