{% extends 'base.html' %}

{% block content %}
<section class="consulting-ai">
  <div class="container">
    <div class="consulting-text">
      <h1>Think
      <br><br><br><br>
      <p>
        Think beyond limits. Think with purpose. Think what’s next."
      </p>
      <div class="consulting-btn-group">
        <a href="#" class="consulting-btn-blue">
          Explore more
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="20" height="20">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      </div>
    </div>
</section>
{% endblock %}
