{% extends 'base.html' %}

{% block content %}
<section class="ai-watsonx">
  <div class="container">
    <div class="text-section">
      <h1>Realize the promise of<br>AI with watsonx</h1>
      <br><br><br><br><br>
      <p>
        AI-first enterprises can save up to 98.5% in costs using small,<br>
        customized models to drive growth*
      </p>
      <a href="{{ url_for('work_in_progress') }}" class="btn-blue">
        Try watsonx for free
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="20" height="20">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </div>
  </div>
</section>
{% endblock %}